.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox--selected {
  border-top: 10px solid green;
  transform: scale(1.05);
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: green !important;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

@media (max-width: 800px) {
  .infoBox__cases,
  .infoBox_total {
    font-size: 20px;
  }

  .infoBox {
    width: 150px;
  }
}

@media (max-width: 530px) {
  .infoBox {
    width: 100px;
  }
}
